<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<%= stylesheet_link_tag 'fullcalendar' %>
	
	<%=javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
	<%=javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js' %>
	<%=javascript_include_tag 'fullcalendar' %>
	<%=javascript_include_tag 'rails-jquery' %>
	
	<%= csrf_meta_tag %>
	
<script type='text/javascript'>

	$(document).ready(function() {
	
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			editable: true,
			defaultView: 'agendaWeek',
			height: 640,
			slotMinutes:30,
			events: "events/get_events",
			
			eventDrop: function(event, dayDelta, minuteDelta, allDay, reventFunc){
				moveEvent(event, dayDelta, minuteDelta, allDay);
			},
			
			eventResize: function(event, dayDelta, minuteDelta, revertFunc){
				resizeEvent(event, dayDelta, minuteDelta);
			},
			
			eventClick: function(event, jsEvent, view){
				showEventDetails(event);
			}
			
		});
		
	});

</script>
<style type='text/css'>

	body {
		margin-top: 40px;
		text-align: center;
		font-size: 14px;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		}

	#calendar {
		width: 900px;
		margin: 0 auto;
		}

</style>
</head>
<body>
<div id='calendar'></div>
</body>
</html>
