<%= form_for @entry do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
	<%= f.hidden_field :user_id, :value  => current_user.id %>
  <p><%= f.submit %></p>
<% end %>
