<!-- #PORTLETS START -->
<div id="portlets">  
	<!--THIS IS A PORTLET-->
	<div class="portlet">
		<div class="portlet-content">
			<h1>Journal Entry</h1>
<% title "Entry" %>
<p>
	<%= @entry.created_at.strftime("%m/%d/%Y") %>
</p>

<p>
  <%= simple_format(@entry.description) %>
</p>

<p>
  <%= link_to "Edit", edit_entry_path(@entry) %> |
  <%= link_to "Destroy", @entry, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", entries_path %>
</p>


</div>
</div>


<div class="clear"></div>
<!--THIS IS A WIDE PORTLET-->
<!--  END #PORTLETS -->  
</div>
<div class="clear"> </div>
<!-- END CONTENT-->    
</div>