<% title "Entry" %>

<p>
  <strong>Event:</strong>
  <%= @entry.event_id %>
</p>
<p>
  <strong>User:</strong>
  <%= @entry.user_id %>
</p>
<p>
  <strong>Description:</strong>
  <%= @entry.description %>
</p>

<p>
  <%= link_to "Edit", edit_entry_path(@entry) %> |
  <%= link_to "Destroy", @entry, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", entries_path %>
</p>
