<p>Name:<br />
<%= @event.title %></p>

<p>Event Date: <br />
<%= @event.event_date %></p>

<p>Start Time: <br />
<%= @event.start_time %></p>

<p>End Time: <br />
<%= @event.end_time %></p>

<% @event.set_time %>

<p>Parse:<br />
<%= @event.starttime %></p>

<p>Parse End:<br />
<%= @event.endtime %></p>