<% title "Log in" %>

<div id="content" class="main">
	<%= form_for @user_session do |f| %>
		<p class="error"><%= f.error_messages %></p>
		<ol class="forms">
			<li>
				<%= f.label :email %>
          		<%= f.text_field :email %>
			</li>
			<li>
                <%= f.label :password %><br />
			    <%= f.password_field :password %>
			</li>
			<li>
				<%= f.submit "Log In" %>
			</li>
		</ol>
	<% end -%>
</div><!-- end #content -->